body {
  font-family: 'Montserrat';
}

.container-fluid {

  padding: 3% 15% 7%;
}

.container {

  margin: 10% 10%;
}


#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

h2 {

  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;

}

h3 {

  font-family: 'Montserrat';
  font-size: 1.5rem;
  line-height: 1.5;

}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {

  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {

  padding: 0 18px;
}

.nav-link {}

.download-button {

  margin: 5% 3% 5% 0;
}

.title-image {

  width: 60%;
  transform: rotate(25deg);
  padding-top: 0;
  position: absolute;
  left: 23%;

}

.positioning {
  position: relative;

}

p {

  color: #8f8f8f;
}

#features {

  padding: 7% 15%;
  background-color: #FFF;
  position: relative;
  z-index: 1;

}

.feature-box {

  text-align: center;

}

.icon {

  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover {

  color: #ff4c68;
}

/* Testomonials */

#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: #FFF;
}

.carousel-inner {

  padding: 7% 15%;
}

.testimonial-image {

  width: 10%;
  border-radius: 100%;
  margin: 20px;

}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-image {
  width: 15%;
  margin: 2% 2% 4%;
}

/* Pricing Section */

#pricing {
  padding: 7% 15%;
  text-align: center;
}

.pricing-header {
  text-align: center;
}

.pricing-col {

  padding: 2% 3%;
}

#cta {

  background-color: #ff4c68;
  text-align: center;
  color: #FFF;
  padding: 7% 23%;

}

.cta-heading {

  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;

}

#footer{

  padding: 7% 15%;
  text-align: center;

}

.social-icon{

  margin: 20px 10px;
}

.footer-line{
  font-family: "Poppins", sans-serif;
  color: #1f1f1f;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }

@media(max-width: 1000px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}